{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block content %}


<section class="page-wrapper">
	<div class="contact-section">
		<div class="container">
			<div class="row">
				<!-- Contact Details -->
				<div class="contact-details col-md-12 text-center">
					<div class="google-map">
						<div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2312.7322000609743!2d100.41523498912089!3d13.71363400034437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e297c02ea6b7e7%3A0x7afafc631766c972!2sSoi%20Phetkasem%2068%20Yaek%2010%2C%20Khwaeng%20Bang%20Khae%20Nuea%2C%20Khet%20Bang%20Khae%2C%20Krung%20Thep%20Maha%20Nakhon%2010160!5e0!3m2!1sen!2sth!4v1622191753752!5m2!1sen!2sth" width="1000" height="300" style="border:1px;" allowfullscreen="" loading="lazy"></iframe></div>
					</div>
					<ul class="contact-short-info" >
						<li>
							<i class="tf-ion-ios-home"></i>
							<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
						</li>
						<li>
							<i class="tf-ion-android-phone-portrait"></i>
							<span>Phone: 095-1798765</span>
						</li>
						<li>
							<i class="tf-ion-android-mail"></i>
							<span>Email: worawit.boonsorn@gmail.com</span>
						</li>
					</ul>
					<!-- Footer Social Links -->
					<div class="social-icon">
						<ul>
							<li><a class="fb-icon" href="#"><i class="tf-ion-social-facebook"></i></a></li>
							<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
							<li><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							<li><a href="#"><i class="tf-ion-social-googleplus-outline"></i></a></li>
							<li><a href="#"><i class="tf-ion-social-pinterest-outline"></i></a></li>
						</ul>
					</div>
					<!--/. End Footer Social Links -->
				</div>
				<!-- / End Contact Details -->
					
				
			
			</div> <!-- end row -->
		</div> <!-- end container -->
	</div>
</section>


{% endblock %}