{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<div class="container"><div class="col-md-12">{% include 'includes/alerts.html' %}</div></div>

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Dashboard</h1>
					<ol class="breadcrumb">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li class="active">my account</li>
					</ol>
				</div>
            </div>
		</div>
	</div>
</section>

<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a class="active" href="#">Dashboard</a></li>
					<li><a href="{% url 'my_order' %}">Orders</a></li>
					<li><a href="{% url 'profile_detail' %}">Profile Details</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="media">
						<div class="pull-left">
							<img class="media-object user-img" src="{{userprofile.profile_picture.url}}" alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading">Welcome, {{user.first_name}}</h2>
							<h5>Email : {{user.email}}</h5>
							<h5>Total Orders : {{order_count}}</h5>
						</div>
					</div>
					<div class="total-order mt-20">
						<h4>Total Orders</h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Order ID</th>
										<th>Date</th>
										<th>Billing Name</th>
										<th>Total Price</th>
										<th></th>
									</tr>
								</thead> 
								<tbody>
									{% for i in orders %}
									<tr>
										<td><a href="{% url 'order_detail' i.order_number %}">#{{i.order_number}}</a></td>
										<td>{{i.created_at}}</td>
										<td>{{i.first_name}}</td>
										<td>$ {{i.order_total}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}