{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<section class="forget-password-page account">
  <div class="container">
    <div class="row">
        {% include 'includes/alerts.html' %}
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="index.html">
            <img src="images/logo.png" alt="">
          </a>
          <h2 class="text-center">Reset Password</h2>
          <form class="text-left clearfix" method="POST">
              {% csrf_token %}
            <p class="text-center">Please enter the email address for your account. A verification email will be sent to your email. Once you have received the verification email, you will be able to choose a new password for your account.</p>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Account email address" name="email">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-main text-center">Request password reset</button>
            </div>
          </form>
          <p class="mt-20"><a href="{% url 'login' %}">Back to log in</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}