<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
	    <div class="container">
	      <div class="navbar-header">
	      	<h2 class="menu-title">Main Menu</h2>
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>

	      </div><!-- / .navbar-header -->

	      <!-- Navbar Links -->
	      <div id="navbar" class="navbar-collapse collapse text-center">
	        <ul class="nav navbar-nav">

	          <!-- Blog -->
	          <li class="dropdown dropdown-slide">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="tf-ion-ios-arrow-down"></span></a>
	            <ul class="dropdown-menu">
					<li><a href="{% url 'store' %}">All Products</a></li>
					<li><a href="{% url 'cart' %}">Cart</a></li>
					<li><a href="{% url 'checkout' %}">Checkout</a></li>
					<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
	            </ul>
	          </li><!-- / Blog -->

			<!-- Shop -->
	          <li class="dropdown dropdown-slide">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="tf-ion-ios-arrow-down"></span></a>
	            <ul class="dropdown-menu">
	              <li><a href="{% url 'login' %}">Login</a></li>
	              <li><a href="{% url 'register' %}">Register</a></li>
				  <li><a href="{% url 'about_us' %}">About Us</a></li>
				  <li><a href="{% url 'contact' %}">Contact Us</a></li>
	            </ul>
	          </li><!-- / Blog -->
	        </ul><!-- / .nav .navbar-nav -->

	      	</div><!--/.navbar-collapse -->
	    </div><!-- / .container -->
	</nav>
</section>
