{% extends 'base.html' %}

{% load static %}

{% load humanize %} 

{% block content %}


<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'store' %}">Shop</a></li>
					<li class="active">{{single_product.product_name}}</li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								<div class='item active'>
									<img src='{{single_product.images.url}}' alt='' data-zoom-image="{{single_product.images.url}}" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>{{single_product.product_name}}</h2>
					
					<p class="product-description mt-20">
						{{single_product.description}}
					</p>
					<div class="product-category">
						<span>On Stock:</span>
						<ul>
							<li><a>{{single_product.stock}}</a></li>
						</ul>
					</div>
					<div class="product-category">
						<span>Price:</span>
						<ul>
							<li><a>${{single_product.price|intcomma}}</a></li>
						</ul>
					</div>
					<div class="product-category">
						<span>Categories:</span>
						<ul>
							<li><a>{{single_product.category}}</a></li>
						</ul>
					</div>
					{% if single_product.stock <= 0 %}
					<a class="btn btn-main mt-20">Out of Stock</a>
					{% else %}
					<a href="{% url 'addcart' single_product.id %}" class="btn btn-main mt-20">Add To Cart</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h4>Product Description</h4>
							<p>{{single_product.description}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="products related-products section">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Related Products</h2>
			</div>
		</div>
		<div class="row">
			{% for products in products|slice:":4" %}
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<!---<span class="bage">Sale</span>--->
						<img class="img-responsive" src="{{products.images.url}}" alt="product-img" />
						<div class="preview-meta">
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="{{products.get_url}}">{{products.product_name}}</a></h4>
						<p class="price">${{products.price}}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>



<!-- Modal -->
<div class="modal product-modal fade" id="product-modal">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<i class="tf-ion-close"></i>
	</button>
  	<div class="modal-dialog " role="document">
    	<div class="modal-content">
	      	<div class="modal-body">
	        	<div class="row">
	        		<div class="col-md-8">
	        			<div class="modal-image">
		        			<img class="img-responsive" src="images/shop/products/modal-product.jpg" />
	        			</div>
	        		</div>
	        		<div class="col-md-3">
	        			<div class="product-short-details">
	        				<h2 class="product-title">GM Pendant, Basalt Grey</h2>
	        				<p class="product-price">$200</p>
	        				<p class="product-short-description">
	        					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
	        				</p>
	        				<a href="" class="btn btn-main">Add To Cart</a>
	        				<a href="" class="btn btn-transparent">View Product Details</a>
	        			</div>
	        		</div>
	        	</div>
	        </div>
    	</div>
  	</div>
</div>


{% endblock %}